<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="panel" version="1.1.0">
    <details>
        <title>Panel</title>
        <email>aarranz@conwet.com</email>
        <description>Displaying simple texts messages, like measures, in an easy way</description>
        <image>images/catalogue.png</image>
        <longdescription>DESCRIPTION.md</longdescription>
        <doc>doc/userguide.md</doc>
        <changelog>doc/changelog.md</changelog>
        <authors>Álvaro Arranz García &lt;aarranz@conwet.com&gt;</authors>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
        <homepage>https://github.com/Wirecloud/panel-widget</homepage>
        <issuetracker>https://github.com/Wirecloud/panel-widget/issues</issuetracker>
    </details>

    <requirements>
        <feature name="StyledElements"/>
    </requirements>

    <preferences>
        <preference name="default-value" type="text" label="Default Value" default="--" />
        <preference name="default-unit" type="text" label="Default Unit" default="" />
        <preference name="max-height" type="text" label="Max height (Percentage)" default="60" />
        <preference name="min-height" type="text" label="Min height (Percentage)" default="10" />
        <preference name="decimals" type="text" label="Decimals" description="Number of decimals to use for number values. Empty for using all the available decimals" default="1" />
    </preferences>

    <wiring>
        <inputendpoint name="textinput" type="text" label="Contents" description="Contents" friendcode="panel-content"/>
    </wiring>

    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="200px" width="400px"/>
</widget>
